input{
    height: 40px;
    width: 500px;
    background-color: rgb(228, 225, 225);
}

.addBtn{
    height: 46px;
    width: 100px;
    border-left: none;
}

h1{
    background-color: crimson;
    color: white;
}

h3{
    font-size: 40px;
}